{% load sekizai_tags static %}

{% block html %}
<!DOCTYPE html>
{% endblock html %}
<html>
  <head>
    {% block meta %}
    <meta charset="utf-8" >
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    <title>{% block title %}SudBoard{% endblock title %}</title>
    {% endblock meta %}



    {% block resources %}
        <link rel="stylesheet" href="{% static "style.css" %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        {% block css_resources %}
        {{ bokeh_css }}

        {% endblock css_resources %}



        {% block js_resources %}
        {% endblock js_resources %}

    {% endblock %}



    {% block postamble %}{% endblock %}

  </head>
  {% block  body_message %}
  {% endblock %}


  <body id="{% block body_id %}{% endblock body_id %}" class="{% block body_class %}{% endblock body_class %}">
  {% block theme_contents %}
    {% block  contents %}

    {% block data_loader %}
    {% endblock %}
    {% block view_creator %}
    {% endblock %}

    {% endblock contents %}
  {% endblock theme_contents %}

  {% block footer %}
  {% endblock footer %}

  {% block body_js %}
  {% endblock body_js %}

  </body>
</html>
