

<div class="sidebar__group">
    <div class="sidebar__group__title">
        <div class="sidebar__group__title__icon">
            <svg class="mdi-icon " width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
            </svg>
        </div>
        <div class="sidebar__item sidebar__item--is-active">
            <div class="sidebar__item__wrapper">
                <div class="sidebar__item__label">Traces</div>
                {% include "studio/trace_manager.html" %}
            </div>
        </div>
    </div>
</div>
